<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <clear />
    <add key="CodeCracker Unstable" value="https://www.myget.org/F/codecrackerbuild/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="roslyn-analyzers" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="CodeCracker Unstable" value="https://www.myget.org/F/codecrackerbuild/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="roslyn-analyzers" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" />
  </packageSources>
</configuration>