<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.CommandLine" version="4.6.2" />
  <package id="psake" version="4.7.4" />
  <package id="ilmerge" version="2.14.1208" />
  <package id="xunit.runner.console" version="2.3.1" />
  <package id="OpenCover" version="4.6.519" />
  <package id="ReportGenerator" version="3.1.2" />
  <package id="coveralls.io" version="1.4.2" />
</packages>
