<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.io" version="1.1.91" />
  <package id="NuGet.CommandLine" version="2.8.2" />
  <package id="OpenCover" version="4.5.3711-rc52" />
  <package id="psake" version="4.4.1" />
  <package id="ReportGenerator" version="2.1.1.0" />
  <package id="xunit.runners" version="2.0.0-rc3-build2880" />
</packages>